body {
	color: #FFFFFF;
}
.section {
	text-align: center;
}
.section1 {
	background-color: #BFDA00;
}
.section2 {
	background-color: #2EBE21;
}
.section3 {
	background-color: #2C3E50;
}
.section4 {
	background-color: #FF9900;
}