body {
	color: #FFFFFF;
}
.section {
	text-align: center;
}
.section1 {
	background-color: #ebe1c5;
}
.section2 {
	background-color: #e8bd8e;
}
.section3 {
	background-color: #db6c3e;
}
.section4 {
	background-color: #80b7c2;
}
.section5 {
	background-color: #7689a2;
}